# MongoDB Connection URI
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?appName=<appName>

# Server Port
PORT=5000

# Cloudinary Configuration Credentials
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Nodemailer / Resend SMTP Email Settings
EMAIL_HOST=smtp.resend.com
EMAIL_PORT=587
EMAIL_USER=resend
EMAIL_PASS=your_resend_api_key
EMAIL_FROM=noreply@illusorydesignstudios.com
EMAIL_TO=business@illusorydesignstudios.com
JWT_SECRET=your_jwt_secret_key_here
